ALTER TABLE pedidos ADD COLUMN deja_en_bodega BOOLEAN DEFAULT FALSE; ALTER TABLE pedidos ADD COLUMN bodega_acopio_id INT DEFAULT NULL; ALTER TABLE pedidos ADD COLUMN punto_venta_origen_id INT DEFAULT NULL;
